.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.aboutMe img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    filter: contrast(50%);
    filter: grayscale(50%);
    // filter: opacity(30%);

}

.aboutMe p {
    font-size: 20px;
    font-family: 'Avenir';
    font-weight: 300;
    line-height: 30px;
    color: white;
    padding: 40px;
    width: 50%;
    text-align: center;
    margin: auto;
}