
#mainFooter
{
	
	margin-top: 50px;
	background-color: #70707075;
	text-align: center;
	
}

#footerNav 
{
	text-align: center;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#footerNav ul
{
	margin-top: 10px;
	margin-bottom: 20px;
}

#footerNav  li a
{
	display: inline-flex;
	transition: all .3s ease-in-out;
	text-align: center;
	font-family: helvetica;
	padding: 10px 20px 10px 20px;
	color:#00868E;
	font-size: 14px;
	text-decoration: none;

}

#footerNav li a:hover
{
	color: white;
	transition: all .3s ease-in-out;
}

#copyright
{
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	color:  #fff;
	
}

#socialMenu
{
	
	margin:  0;
	

}

#iconNav img
{
	width: 30px;
	height: 30px;
}

#iconNav
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#iconNav li
{
	display: inline;
	margin-right: 10px;
}

#iconNav li a
{
	filter: grayscale(100%);
	transition: all .2s linear;
	border-radius: 5px;
}

#iconNav li a:hover
{
	border-radius: 10px;
	filter: saturate(200%);
}


#iconNav img
{
	width: 50px;
	height: 50px;
	top: 400px;
}
