.lightbox {
    position: relative;
    width: 40%;
    height: 80%;
    background-color: #70707050;
    font-weight: 300;
    text-decoration: none;
    padding: 20px;
    font-family: 'Avenir';
    margin: 40px auto 40px auto;
    display: none; 
    line-height: 24px; 
     
    
}

.visible {
    display: block !important;
}

.lightbox h1 {
    font-size: 24px;
    color: #00868E;
    padding: 5px;
}

.lightbox span {
    color: white;
}


.lightbox li {
    padding: 5px;
}