#promo {
    background: url(../dist/desk-mobile.jpg) center no-repeat;
    font-family: 'Avenir';
    text-align: center;
}

#name-white {
    display: none
}

#promo img {
    padding: 30px;
}

#promo p {
    font-size: 24px;
    color: white;
    padding: 5px;

}

#promo button 
{
	background-color: transparent;
	color: #fff;
	font-weight: 300;
	font-size: 20px;
	border-radius: 10px;
	border-color: #fff;
	transition: all .5s ease;
	width: 260px;
	margin-top: 25px;
	margin-bottom: 40px;
	padding: 10px 0 10px 0;
	cursor: pointer;
}

#myTools {
    display: flex;
    flex-direction: column;
    font-family: 'Maven Pro';
    font-size: 20px;
    color: #707070;
    align-items: center;
    margin-top: 30px;
}

#myTools h3 {
    color: #00868E;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.toolsNav {
    padding: 20px;
}

.toolsNav li {
    display: block;
	padding: 10px 0 10px 0;
	text-align: center;
	color: #707070; 
    font-size: 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}